@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ApiRestASPNETCore.Models.Vestimenta>;

    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">@item.Nombre</h4>
                                <h6 class="card-subtitle text-muted">@item.Precio</h6>
                                    @* Verificamos si el nombre del artículo no está vacío *@
                                    
                                    @if (item.EnvioGratis == true)
                                    {
                                        <p class="card-text p-y-1">
                                            Envio gratis!
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="card-text p-y-1">
                                            Envio no gratis!
                                        </p>
                                    }
                                <a href="#" class="card-link">link</a>
                                <a href="#" class="card-link">Second link</a>
                            </div>
                        </div>
                    </div>
                } 
            </div>
        </div>
    </div>
  